<h1>Expense Tracker App</h1>
<h3>Add Expense</h3>
<form action="add" method="post">
    <label> Description: <input type="text" placeholder="e.g lunch" name="expense"> </label>
<label> Amount: <input type="number" step="0.01" placeholder="e.g 32.50" name="amount"> </label>
<div class="radioInput"> category
        <label for="">
          <input
            type="radio"
            name="category"
            value=6
          />daily</label>
        <label for=""><input
            type="radio"
            name="category"
            value=1
          />weekly</label>
        <label for=""><input
            type="radio"
            name="category"
            value=3
          />weekday</label>
            <label for="">
          <input
            type="radio"
            name="category"
            value=5
          />once-off</label>
        <label for=""><input
            type="radio"
            name="category"
            value=2
          />monthly</label>
        <label for=""><input
            type="radio"
            name="category"
            value=4
          />weekend</label>
      </div>

      <button type="submit">Add expense</button>
</form>

<h4>total Expense: <span></span> </h4>

<h3>Expense summary per category</h3>

