<h1>Expense Tracker App</h1>
<h3>All expenses</h3>
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Category</th>
      <th>Totals</th>
      <th>remove</th>
    </tr>
  </thead>

  <tbody>
    {{#each allExpenses}}
      <tr>
        <td>{{expense}}</td>
        <td>{{category_type}}</td>
        <td>{{total}}</td>
        <td>
            <form action="/delete/{{id}}" method="post">
            <button type="submit" class="delete">delete</button>
            </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<a href="/">go back</a>